
.headerContainer {
    width: 100%;
    padding: 10px ;
    background-color: rgb(35, 162, 179);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px rebeccapurple;
}

.mobileMenuBtnCloseSpace {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    position: absolute;
    display: none;
}

.mobileMenu {
    width: 60%;
    height: 100vh;
    background-color: rgb(10, 137, 153);
    position: fixed;
    z-index: 10;
    display: none;
    transition: all 1s linear;
    color: #fff;
}

.headerLogo {
    margin-left: 10px;
    display: flex;
    flex: 0.5;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.headerTitle {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin-left: 15px;
    margin-top: 5px;   
    /* font is a little above thats why margin top  */
}

.menuBar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.menuIcon {
    display: none;
}

.menuBtn {
    color: #fff;
    padding: 8px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
}

.menuBtn:is(:hover , :focus){
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.showMobileMenu {
    display: block;
}

.mobileMenuBar {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top:2rem;
}

.mobileMenuItem {
    display: block;
    padding: .8rem;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s linear;
}

.mobileMenuItem:hover {
    color: #333;
    background-color: rgba(46, 201, 198, 0.815);
}

@media screen and (max-width:680px) {
    .menuBar {
        display: none;
    }

    .menuIcon {
        display:inline-block;
        font-size: 1.2rem;
    }

    
}

@media screen and (max-width:480px) {
    .mobileMenu {
        width: 70%;
    }
    .headerLogo {
        flex: 1;
    }
    .infoImg {
    width: 60%;
    }
     
 }